<h1>Editing medical institution</h1>

<%= render "form", medical_institution: @medical_institution %>

<br>

<div>
  <%= link_to "Show this medical institution", @medical_institution %> |
  <%= link_to "Back to medical institutions", medical_institutions_path %>
</div>
