<h1>Editing medical institution</h1>

<%= render "form", institution: @institution %>

<br>

<div>
  <%= link_to "Show this medical institution", @institution %> |
  <%= link_to "Back to medical institutions", institutions_path %>
</div>
