<p style="color: green"><%= notice %></p>

<h1>Medical institutions</h1>

<div id="medical_institutions">
  <% @institutions.each do |institution| %>
    <%= render institution %>
    <p>
      <%= link_to "Show this medical institution", institution %>
    </p>
  <% end %>
</div>

<%= link_to "New medical institution", new_institution_path %>
