<h1>Editing medical center</h1>

<%= render "form", medical_center: @medical_center %>

<br>

<div>
  <%= link_to "Show this medical center", @medical_center %> |
  <%= link_to "Back to medical centers", medical_centers_path , class: "btn-back" %>
</div>
