<div id="<%= dom_id doctor %>" class="card my-3">
  <div class="card-body">
    <h5 class="card-title"><%= doctor.name %></h5>

    <div class="card-text">
      <p>
        <strong>Gender:</strong>
        <%= doctor.gender ? "Femenino" : "Masculino" %>
      </p>
    </div>
  </div>
</div>
