<div class="alert alert-success">
  <%= notice %>
</div>

<div class="masthead">
  <h1>Doctors</h1>

  <div id="doctors">
    <% @doctors.each do |doctor| %>
      <%= render doctor %>
      <p>
        <%= link_to "Show this doctor", doctor, class: "btn btn-info" %>
      </p>
    <% end %>
  </div>

  <%= link_to "New doctor", new_doctor_path, class: "btn btn-primary" %>
</div>
