<p style="color: green"><%= notice %></p>

<!DOCTYPE html>
<html>
<head>
  <!-- Include jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <title>Bienvenido a la Clínica Médica</title>
</head>
<body>
  <header>
    <h1>Bienvenido a la Clínica Médica</h1>
    <nav>
      <ul>
        <li><%= link_to 'Reservar Cita', new_appointment_path %></li>
        <li><%= link_to 'Perfil de Usuario', pacients_path%></li>
        <!-- Agrega más enlaces de navegación según sea necesario -->
      </ul>
    </nav>
  </header>

  <main>
  </main>

  <footer>
    <!-- Pie de página con información de contacto, enlaces adicionales, etc. -->
  </footer>
</body>
</html>
