<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor.name %>
  </p>

  <p>
    <strong>Medic center:</strong>
    <%= appointment.medic_center %>
  </p>

</div>
