<%= stylesheet_link_tag 'styles', media: 'all' %>
<div class="body">
<%= render "form", appointment: @appointment %>

<br>

<div>
  <%= link_to "Back to appointments", appointments_path, class: "btn-back" %>
</div>

</div>